.sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

@media screen and (max-width: 767px) {
.table-responsive {
    width: 94% !important;
  }
}
